<?xml version="1.0"?>
<!--
/**
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
        <section id="cotya_authentication" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Authentication</label>
            <tab>customer</tab>
            <resource>Magento_Customer::config_customer</resource>
            <group id="github" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Github Configs</label>
                <field id="client_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Github Client ID</label>
                </field>
                <field id="client_secret" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Github Client Secret</label>
                </field>
            </group>
        </section>
    </system>
</config>
